<ion-content padding>
  <ion-title text-center>MSAL App</ion-title>
  <div *ngIf="isLoggedIn">
    <ion-card color="light">
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/b/bb/Kittyply_edit1.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>PROFILE</ion-card-subtitle>
        <ion-card-title>{{userData.name}}</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-label>{{userData.email}}</ion-label>
      </ion-item>
    </ion-card>
    <ion-button expand="full" color="secondary" (click)="getUserDetails()">
      get user
    </ion-button>
  </div>

  <ion-button *ngIf="!isLoggedIn" expand="full" (click)="login()">
    login
  </ion-button>
  <ion-button *ngIf="isLoggedIn" expand="full" (click)="login()">
    logout
  </ion-button>

</ion-content>