<ion-content padding center text-center>
  <ion-title>MSAL App</ion-title>
  <ion-list>
    <ion-item>
      <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="login()">
    login
  </ion-button>
  <ion-button expand="full" color="light" (click)="goRegister()">
    register
  </ion-button>
</ion-content>